<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.4.2" targetFramework="net461" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="OpenCover" version="4.7.922" targetFramework="net461" />
  <package id="ReportGenerator" version="4.0.12" targetFramework="net461" />
  <package id="YamlDotNet" version="5.2.1" targetFramework="net461" />
</packages>